:root {
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --small-font-family: "Inter", Helvetica;
  --small-font-weight: 300;
  --small-font-size: 12px;
  --small-letter-spacing: 0px;
  --small-line-height: normal;
  --small-font-style: normal;
  --h-primary-font-family: "Inter", Helvetica;
  --h-primary-font-weight: 700;
  --h-primary-font-size: 32px;
  --h-primary-letter-spacing: 0px;
  --h-primary-line-height: normal;
  --h-primary-font-style: normal;
  --body-bold-font-family: "Inter", Helvetica;
  --body-bold-font-weight: 600;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: normal;
  --body-bold-font-style: normal;
  --body-light-font-family: "Inter", Helvetica;
  --body-light-font-weight: 300;
  --body-light-font-size: 14px;
  --body-light-letter-spacing: 0px;
  --body-light-line-height: normal;
  --body-light-font-style: normal;
  --h-regular-secondary-font-family: "Inter", Helvetica;
  --h-regular-secondary-font-weight: 400;
  --h-regular-secondary-font-size: 16px;
  --h-regular-secondary-letter-spacing: 0px;
  --h-regular-secondary-line-height: normal;
  --h-regular-secondary-font-style: normal;
  --h-bold-secondary-font-family: "Inter", Helvetica;
  --h-bold-secondary-font-weight: 700;
  --h-bold-secondary-font-size: 20px;
  --h-bold-secondary-letter-spacing: 0px;
  --h-bold-secondary-line-height: normal;
  --h-bold-secondary-font-style: normal;
  --collection-1-brand-purple: rgba(106, 14, 255, 1);
  --collection-1-neutral-grey100: rgba(255, 255, 255, 1);
  --collection-1-brand-purplr-light: rgba(239, 229, 255, 1);
  --collection-1-neutral-grey200: rgba(234, 234, 234, 1);
  --collection-1-brand-purplr-dark: rgba(68, 0, 179, 1);
  --collection-1-neutral-grey300: rgba(191, 191, 191, 1);
  --collection-1-neutral-grey400: rgba(149, 149, 149, 1);
  --collection-1-neutral-grey500: rgba(106, 106, 106, 1);
  --collection-1-neutral-grey600: rgba(64, 64, 64, 1);
  --collection-1-neutral-grey700: rgba(21, 21, 21, 1);
}
